{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " – Athena Sample" %}

{% block content %}
  <main class="app-container govuk-body">
    <h1 class="govuk-heading-l">Seattle Weather – Athena Sample</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ athenaViz | safe }}
      </div>
    </div>
  </main>
{% endblock %}
