{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Behaviour entries" %}

{% block content %}

  <main class="app-container govuk-body">
    <h1 class="govuk-heading-l">Behaviour entries</h1>

    <h2 class="govuk-heading-m">Vega test 3: Compile VegaLite spec into a Vega spec</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Uses VegaLite specification instead of Vega specification. VegaLite is an higher level format compared to Vega.</li>
      <li>Specification is hardcoded (not read from S3 in this example)</li>
      <li>Data is also embedded into specification (not read from S3 in this example)</li>
      <li>VegaLite spec is compiled/converted into a Vega spec and then rendered.</li>
    </ul>
    {{ vis3 | safe }}

    <h2 class="govuk-heading-m">Vega test 2: Data was injected into visualisation</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Visualisation specification read from S3.</li>
      <li>Data read from S3 using S3 select for filtering.</li>
      <li>Filtered data is passed to the visualisation for rendering.</li>
    </ul>
    {{ vis2 | safe }}

    <h2 class="govuk-heading-m">Vega test 1: Render straight from S3</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Visualisation specification read from S3</li>
      <li>Data was embedded into the visualisation file.</li>
    </ul>
    {{ vis1 | safe }}
  </main>

{% endblock %}
